@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$ravenblue: #16202e;
$ravenbronze: #b69f7a;

//$family-sans-serif: "Helvetica", "Arial", sans-serif;

$primary: $ravenbronze;
$primary-invert: $white;
$secondary: $ravenblue;

@import "../node_modules/bulma/bulma";
@import "theme"
