@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$ravenblue: #16202e;
$ravenbronze: #b69f7a;

// BRAND COLORS

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$github: #333;
$deviantart: #05cc47;

//$family-sans-serif: "Helvetica", "Arial", sans-serif;

$primary: $ravenbronze;
$primary-invert: $white;
$secondary: $ravenblue;

@import "../node_modules/bulma/bulma";
@import "theme"
