@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$coral: #e66262;
$pink: #f69697;

// BRAND COLORS

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$github: #333;
$deviantart: #05cc47;

//$family-sans-serif: "Helvetica", "Arial", sans-serif;

$primary: $coral;
$primary-invert: $white;
$secondary: $pink;
$link: $secondary;

$navbar-height: 4.75rem;


@import "../node_modules/bulma/bulma";
@import "theme";
