a {
  transition: all 300ms ease;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;

  img {
    margin: 0 1rem;
    max-height: 2.5rem;
  }

  a {
    font-size: 1.2rem;
    line-height: 3;

    &:hover {
      color: $primary;
    }
  }

  @media (min-width: 1024px) {

    .underline:hover {
      background-color: transparent;
    }

    .underline:after {
      background-color: lighten($secondary, 10%);
      bottom: 1.2rem;
      content: "";
      height: 3px;
      left: 0;
      margin: auto 1rem;
      opacity: 0;
      position: absolute;
      transition: all 300ms ease;
      width: 0px;
    }

    .underline:hover:after {
      width: calc(100% - 2rem);
      opacity: 1;
    }
  }

  a.button {
    border: 0;

    &.facebook:hover {
      background-color: $facebook;
      color: $white;
    }

    &.twitter:hover {
      background-color: $twitter;
      color: $white;
    }

    &.linkedin:hover {
      background-color: $linkedin;
      color: $white;
    }

    &.github:hover {
      background-color: $github;
      color: $white;
    }

    &.deviantart:hover {
      background-color: $deviantart;
      color: $white;
    }
  }

  .field.is-grouped > .control:not(:last-child) {
    margin-right: .4rem;
  }
}

.hero.is-light {

  h1.title {
    color: $primary;
    font-family: $heading-sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h3.subtitle {
    background-color: $grey-lighter;
    border-radius: .5rem;
    display: inline-block;
    padding: .3rem .8rem;
  }

  a.email {
    margin: -.5rem auto 1rem;

    &:hover {
      background-color: $white-bis;
      color: $primary;
    }
  }
}

#home {
  background: transparent;
  text-shadow: 0 0 2px transparentize($black,.5);

  .parallax {
    background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .4)), url('../assets/background.jpg') center/cover;
    height: 100vh;
    position: relative;
    z-index: -1;
  }

  .post-parallax {
    margin-top: -100vh;
  }

  img.logo {
    filter: drop-shadow(0 0 5px transparentize($black,.9));
    margin-bottom: 2rem;
    max-width: 100px;
  }

  a {
    background-color: transparentize($black,.8);
    border-radius: 20px 20px 0 0;
    display: inline-block;
    margin-top: .5rem;
    padding: 1rem 2rem 0;

    &:hover {
      background-color: transparentize($black,.6);
      margin-top: 0;
      padding-bottom: .5rem;
    }
  }

  small {
    display: block;
    font-weight: $weight-bold;
    margin-bottom: .3rem;
    text-transform: uppercase;
  }

  span {
    font-size:25px;
  }
}

#about {

  .profile {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      border-radius: 50%;
      max-width: 250px;
      width: 100%;
    }
  }
}

#skills {

  .columns {
    flex-wrap: wrap;
  }

  .skill-container {
    cursor: pointer;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    position: relative;

    a.info {
      background-color: transparentize($black,.8);
      border-radius: 50%;
      display: flex;
      height: 50px;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 50px;
      z-index: 5;

      span {
        color: $white;
        margin: auto;
        position: relative;
        font-size: 1.2rem;
        transition: all 300ms ease;
      }
    }

    &:hover a.info {
      background-color: transparentize($black,.6);

      span {
        font-size: 1.4rem;
      }
    }
  }

  .skill {
    background-color: transparentize($black, .9);
    border-radius: 2rem;
    min-height: 285px;
    padding: 3.5rem 2rem 2rem;
    position: relative;

    &:hover {
      background-color: transparentize($black, .85);
    }

    &.back {
      background-color: $white-ter;
      display: none;
      padding-top: 1.5rem;
      position: absolute;
      top: 0;
      width: 100%;
    }

    h2 {
      font-weight: $weight-bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    h3 {
      color: $grey-darker;
    }

    h4 {
      color: $secondary;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    span {
      display: inline-block;
      font-size: 5rem;
    }

    .field.is-grouped {
      justify-content: center;

      p.control {
        margin: .1rem 0;
      }

      a {
        background: none;
        border: 0;
        color: $primary;
        cursor: default;
      }

      span {
        font-size: 2rem;
      }
    }
  }
}

#portfolio {

  .columns {
    flex-wrap: wrap;

    @media (min-width: 769px) {
      padding: 5rem;
    }

    &:hover img {
      opacity: .2;
    }
  }

  .column {
    height: 300px;

    @media (min-width: 769px) {
      height: 250px;
    }

    img {
      height: 100%;
      object-fit: cover;
      transition: all 500ms ease;
      width: 100%;

      &:hover {
      opacity: 1;
      }
    }
  }
}

#contact {

  .field.is-grouped {
    justify-content: center;

    .control:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      background: none;
      border: none;
      color: $primary;
      font-size: 2rem;
      padding: .75rem;

      &.facebook:hover {
        color: $facebook;
      }

      &.twitter:hover {
        color: $twitter;
      }

      &.linkedin:hover {
        color: $linkedin;
      }

      &.github:hover {
        color: $github;
      }

      &.deviantart:hover {
        color: $deviantart;
      }
    }
  }
}

#return {
  background: transparentize($black,.3);
  border-radius: 50%;
  bottom: 20px;
  display: none;
  height: 50px;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 10;

  span {
    color: $white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 14px;
    font-size: 20px;
    transition: all 300ms ease;
}

  &:hover {
    background: transparentize($black,.1);

    span {
      top: 10px;
    }
  }
}

.footer {
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('../assets/background.jpg') bottom/cover;
  color: $white;
  padding-bottom: 3rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
